.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 105px;
  background-color: var(--Dark-500);
  .logo {
    display: flex;
    gap: 10px;
  }
}
