.task {
  font-weight: bold;
}
.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--Light-100);
}
