$backImage: url("./common/assets/login.png") no-repeat;
$white: #fff;
$black: #434343;
$border-default: #adadad;
$text-placeholder: #8c8c8c;
$input-hover-color: #767676;
$input-focus-color: #9451ff;
@mixin custom-text($font-size, $font-weight, $color: $black, $line-height: normal, $font-style: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
  font-style: $font-style;
}
